body {
	background-color: white;
}
input {
	border-radius: 30px;
	font-size: 15
}
div {
	color: blue;
}
strong {
	color: green;
}
h1 {
	color: black;
}
h3 {
	color: green;
}
textarea {
	border: solid red;
	font-size: 1rem;
	letter-spacing: 1px
}

.red-input:focus {
	border: solid green;
	
}
